<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Tài chính - Menu độc lập -->
        <menuitem name="Tài chính" id="menu_tai_chinh" sequence="10" web_icon="quan_ly_tai_chinh,static/description/icon.png"/>

        <menuitem
            id="menu_bao_cao_tai_chinh"
            name="Báo cáo tài chính"
            parent="menu_tai_chinh"
            action="action_bao_cao_tai_chinh"
            sequence="1"/>
            
        <menuitem
            id="menu_khau_hao"
            name="Khấu hao tài sản"
            parent="menu_tai_chinh"
            sequence="2"
            action="khau_hao_tai_san_action"/>
            
        <menuitem
            id="menu_but_toan"
            name="Bút toán"
            parent="menu_tai_chinh"
            sequence="3"
            action="but_toan_action"/>
            
        <menuitem
            id="menu_tai_khoan_quan_tri"
            name="Tài khoản quản trị"
            parent="menu_tai_chinh"
            sequence="4"
            action="tai_khoan_quan_tri_action"/>
        
        <!-- Dashboard -->
        <menuitem
            id="menu_dashboard_tai_chinh"
            name="Dashboard"
            parent="menu_tai_chinh"
            sequence="5"
            action="action_dashboard_tai_chinh"/>
        
        <!-- Tính toán khấu hao tự động -->
        <menuitem
            id="menu_tinh_toan_khau_hao"
            name="Tính khấu hao tự động"
            parent="menu_tai_chinh"
            sequence="6"
            action="action_tinh_toan_khau_hao"/>
        
        <!-- Phê duyệt mua tài sản -->
        <menuitem
            id="menu_phe_duyet_mua_tai_san"
            name="Phê duyệt mua tài sản"
            parent="menu_tai_chinh"
            sequence="7"
            action="action_phe_duyet_mua_tai_san"/>
           
        
    </data>
</odoo>
